.parallax {
  /* The image used */
  background-image: url("../img/bg/7.jpg");

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-header{
    color: #fff;
}
.header-icon{
    padding-right: 10px;
}
.header-top{
    margin-top: -20px;
}
.about-us-img{
    margin-top: 60px;
}
.attraction-mob{
    margin-left: 30px;
}
.top-container{
    padding-top: 50px;
}
.excursion-des{
    text-align: justify;
}