.parallax {
  /* The image used */
  background-image: url("../img/bg/7.jpg");

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-header{
    color: #fff;
}
.header-icon{
    padding-right: 10px;
}
.header-top{
    margin-top: -20px;
}
.about-us-img{
    margin-top: 60px;
}
.attraction-mob{
    margin-left: 30px;
}
.top-container{
    padding-top: 50px;
}
.excursion-des{
    text-align: justify;
}
.ex-color{
    color: #fff;
}
.top-title{
    padding-top: 0px;
}
.header-top-color{
    color: rgba(36, 32, 32, 0.7);
}
.bg-color{
    background-color: #dae2e9;
}
.box{
 padding: 10px 10px 10px 10px;
}
.h5-title{
    font-size: 15px;
    margin-top:10px;
}
.p-des{
    font-size:13px;
    padding-top: 12px;
    text-align: justify;
}
.post-detail-padding{
    padding-top: 2px;
}
.div-padding{
    padding-top:5px;
}